@use 'variables'
<<<<<<< HEAD
@use 'mixins'

.hero
     @include mixins.universalCont ()
     width: 100%
     height: 80vh
     background-color: variables.$color

h1
     grid-column: 2/5
     text-align: center
     font-size: 10rem
=======

.hero
     width: 100%
     height: 80vh
     background-color: variables.$color
>>>>>>> 6bb6c9421dc90a8b1628894a03d676bde2916899
